<html>
<head>
  <title>CINEM PROJECT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css">
  <script src="/media/jquery-2.1.4.min.js"></script>
  <script src="/media/bootstrap/js/bootstrap.min.js"></script>
</head>
    <body>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </nav>

        <div>
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
